streamlit
openai
langchain
langchain_openai
langchain_community
faiss-cpu
tiktoken
pydantic
pypdf
PyPDF2
python-dotenv
PyMuPDF
pandas
matplotlib
plotly
seaborn
prophet
statsmodels
scikit-learn
requests
beautifulsoup4
SpeechRecognition
langchain-anthropic
anthropic
langchain-groq
groq
langchain-huggingface-hub
Pillow
transformers
torch
torchvision
torchaudio
logging

